*.img
backup_*/
gand/
modules/
mosfetq*
oeneye*
oeneye_manifest.json
oeneyeos_backup_*.tar.gz
termux.db
termux_db.sh
# !allow list - MUST be at bottom
!oeneyeGHview.imc
!candi_loop.imc
!fruit.sh
!static_own_index.sh


!oeneyeVNC.py
!oeneyepdf.c
!xtex.sh
!MOSFETQexchange/spool/vnc/**
